# Pandas Tutorial(Day1)

## Installation of Libraries

In [6]:
# pip install pandas

Requirement already satisfied: pandas in c:\users\hewlett packard\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hewlett packard\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hewlett packard\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hewlett packard\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hewlett packard\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

- Import libraries

In [8]:
 import pandas as pd 
 import numpy as np

In [9]:
 #object creation 
 s=pd.Series([1,2,3,4,6,9,8])
 s

0    1
1    2
2    3
3    4
4    6
5    9
6    8
dtype: int64

We can also add empty cell in this series by adding np.nan

In [11]:
s=pd.Series([1,2,3,np.nan,4,8,9])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    8.0
6    9.0
dtype: float64

In [19]:
dates=pd.date_range("20220101",periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [21]:
dates=pd.date_range("20130101",periods=6)
dates
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-03 -0.031886  2.777045 -0.991520  0.763800
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874

Here 6 means rows and 4 is showing column,where ABCD are headers of the column.

In [23]:
df2=pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20130102"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"foo",
})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

##  To find Data type
- We can also find data type using df2.dtyp

In [26]:
df2=pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20130102"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
    "F":"good",
})
df2 
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

- For first two lines we can write:

In [28]:
df.head(2)

                   A         B         C         D
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-02  0.496338  0.274524  0.004845  0.591462

- For last two lines :

In [29]:
df.tail(2)

                   A         B         C         D
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874

## Indexing

In [30]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

## Conversion to Numpy Array

In [32]:
df.to_numpy()

array([[-0.69697174,  0.30897596, -0.5626666 ,  1.37348422],
       [ 0.49633817,  0.27452389,  0.0048445 ,  0.59146245],
       [-0.03188596,  2.77704537, -0.99151969,  0.76380037],
       [ 1.22419997, -0.57703524,  2.17385032, -1.08197892],
       [ 0.79814964, -1.08576567,  1.80468784,  0.02745532],
       [ 1.59292702, -1.74640179, -0.26693711, -0.07887429]])

 ## To Transpose data

In [33]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,good,good,good,good

## Sorting

In [34]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2022-01-01  1.373484 -0.562667  0.308976 -0.696972
2022-01-02  0.591462  0.004845  0.274524  0.496338
2022-01-03  0.763800 -0.991520  2.777045 -0.031886
2022-01-04 -1.081979  2.173850 -0.577035  1.224200
2022-01-05  0.027455  1.804688 -1.085766  0.798150
2022-01-06 -0.078874 -0.266937 -1.746402  1.592927

In [36]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-03 -0.031886  2.777045 -0.991520  0.763800
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874

In [37]:
# false means decending order
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-03 -0.031886  2.777045 -0.991520  0.763800
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-01 -0.696972  0.308976 -0.562667  1.373484

In [38]:
# true means in ascending order
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-03 -0.031886  2.777045 -0.991520  0.763800
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874

### sorting by specific column

In [42]:
 
df.sort_values(by="B",ascending=True)

                   A         B         C         D
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-03 -0.031886  2.777045 -0.991520  0.763800

### Selecting specific column

In [43]:
df["C"]

2022-01-01   -0.562667
2022-01-02    0.004845
2022-01-03   -0.991520
2022-01-04    2.173850
2022-01-05    1.804688
2022-01-06   -0.266937
Freq: D, Name: C, dtype: float64

In [44]:
df["A"]

2022-01-01   -0.696972
2022-01-02    0.496338
2022-01-03   -0.031886
2022-01-04    1.224200
2022-01-05    0.798150
2022-01-06    1.592927
Freq: D, Name: A, dtype: float64

In [45]:
df["B"]

2022-01-01    0.308976
2022-01-02    0.274524
2022-01-03    2.777045
2022-01-04   -0.577035
2022-01-05   -1.085766
2022-01-06   -1.746402
Freq: D, Name: B, dtype: float64

## Sorting by string method

In [46]:
df2[0:3]

     A          B    C  D      E     F
0  1.0 2013-01-02  1.0  3   test  good
1  1.0 2013-01-02  1.0  3  train  good
2  1.0 2013-01-02  1.0  3   test  good

In [49]:
df[1:7]

                   A         B         C         D
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-03 -0.031886  2.777045 -0.991520  0.763800
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874

In [53]:
df[0:2]

                   A         B         C         D
2022-01-01 -0.696972  0.308976 -0.562667  1.373484
2022-01-02  0.496338  0.274524  0.004845  0.591462

### Row wise selection

###Loc function

In [55]:
df.loc[:,["A","B"]]

                   A         B
2022-01-01 -0.696972  0.308976
2022-01-02  0.496338  0.274524
2022-01-03 -0.031886  2.777045
2022-01-04  1.224200 -0.577035
2022-01-05  0.798150 -1.085766
2022-01-06  1.592927 -1.746402

### At function

In [58]:
df.at[dates[0],"A"]

-0.6969717445200777

In [60]:
df.at[dates[2],"A"]

-0.03188596207803751

### iloc function

In [61]:
df.iloc[:,0:2]

                   A         B
2022-01-01 -0.696972  0.308976
2022-01-02  0.496338  0.274524
2022-01-03 -0.031886  2.777045
2022-01-04  1.224200 -0.577035
2022-01-05  0.798150 -1.085766
2022-01-06  1.592927 -1.746402

In [62]:
df[df["A"]>0]

                   A         B         C         D
2022-01-02  0.496338  0.274524  0.004845  0.591462
2022-01-04  1.224200 -0.577035  2.173850 -1.081979
2022-01-05  0.798150 -1.085766  1.804688  0.027455
2022-01-06  1.592927 -1.746402 -0.266937 -0.078874