# Assignment
## Data of climate change

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('FAOSTAT_data_1-17-2022.csv')
df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7010,October,2020,2020,?C,-1.042,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7011,November,2020,2020,?C,-0.503,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7012,December,2020,2020,?C,-1.792,Fc,Calculated data
3,ET,Temperature change,16,Bangladesh,7271,Temperature change,7010,October,2020,2020,?C,2.469,Fc,Calculated data
4,ET,Temperature change,16,Bangladesh,7271,Temperature change,7011,November,2020,2020,?C,1.688,Fc,Calculated data
5,ET,Temperature change,16,Bangladesh,7271,Temperature change,7012,December,2020,2020,?C,0.872,Fc,Calculated data
6,ET,Temperature change,100,India,7271,Temperature change,7010,October,2020,2020,?C,1.274,Fc,Calculated data
7,ET,Temperature change,100,India,7271,Temperature change,7011,November,2020,2020,?C,0.703,Fc,Calculated data
8,ET,Temperature change,100,India,7271,Temperature change,7012,December,2020,2020,?C,0.825,Fc,Calculated data
9,ET,Temperature change,165,Pakistan,7271,Temperature change,7010,October,2020,2020,?C,-0.172,Fc,Calculated data
10,ET,Temperature change,165,Pakistan,7271,Temperature change,7011,November,2020,2020,?C,-0.419,Fc,Calculated data
11,ET,Temperature change,165,Pakistan,7271,Temperature change,7012,December,2020,2020,?C,-0.264,Fc,Calculated data

In [3]:
df.head(5)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7010,October,2020,2020,?C,-1.042,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7011,November,2020,2020,?C,-0.503,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7012,December,2020,2020,?C,-1.792,Fc,Calculated data
3,ET,Temperature change,16,Bangladesh,7271,Temperature change,7010,October,2020,2020,?C,2.469,Fc,Calculated data
4,ET,Temperature change,16,Bangladesh,7271,Temperature change,7011,November,2020,2020,?C,1.688,Fc,Calculated data

In [4]:
df.tail(6)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
6,ET,Temperature change,100,India,7271,Temperature change,7010,October,2020,2020,?C,1.274,Fc,Calculated data
7,ET,Temperature change,100,India,7271,Temperature change,7011,November,2020,2020,?C,0.703,Fc,Calculated data
8,ET,Temperature change,100,India,7271,Temperature change,7012,December,2020,2020,?C,0.825,Fc,Calculated data
9,ET,Temperature change,165,Pakistan,7271,Temperature change,7010,October,2020,2020,?C,-0.172,Fc,Calculated data
10,ET,Temperature change,165,Pakistan,7271,Temperature change,7011,November,2020,2020,?C,-0.419,Fc,Calculated data
11,ET,Temperature change,165,Pakistan,7271,Temperature change,7012,December,2020,2020,?C,-0.264,Fc,Calculated data

In [5]:
df.mean()

C:\Users\HEWLET~1\AppData\Local\Temp/ipykernel_3980/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Area Code (FAO)      70.75000
Element Code       7271.00000
Months Code        7011.00000
Year Code          2020.00000
Year               2020.00000
Value                 0.30325
dtype: float64

In [8]:
df.groupby(['Area','Value']).mean()

                    Area Code (FAO)  Element Code  Months Code  Year Code  \
Area        Value
Afghanistan -1.792              2.0        7271.0       7012.0     2020.0
            -1.042              2.0        7271.0       7010.0     2020.0
            -0.503              2.0        7271.0       7011.0     2020.0
Bangladesh   0.872             16.0        7271.0       7012.0     2020.0
             1.688             16.0        7271.0       7011.0     2020.0
             2.469             16.0        7271.0       7010.0     2020.0
India        0.703            100.0        7271.0       7011.0     2020.0
             0.825            100.0        7271.0       7012.0     2020.0
             1.274            100.0        7271.0       7010.0     2020.0
Pakistan    -0.419            165.0        7271.0       7011.0     2020.0
            -0.264            165.0        7271.0       7012.0     2020.0
            -0.172            165.0        7271.0       7010.0     2020.0

                      Year
Area        Value
Afghanistan -1.792  2020.0
            -1.042  2020.0
            -0.503  2020.0
Bangladesh   0.872  2020.0
             1.688  2020.0
             2.469  2020.0
India        0.703  2020.0
             0.825  2020.0
             1.274  2020.0
Pakistan    -0.419  2020.0
            -0.264  2020.0
            -0.172  2020.0

In [14]:
df.to_excel('df.xlsx')

In [21]:
df.drop(['Element Code','Year Code','Domain Code','Months Code','Flag Description'],axis=1)

,Domain,Area Code (FAO),Area,Element,Months,Year,Unit,Value,Flag
0,Temperature change,2,Afghanistan,Temperature change,October,2020,?C,-1.042,Fc
1,Temperature change,2,Afghanistan,Temperature change,November,2020,?C,-0.503,Fc
2,Temperature change,2,Afghanistan,Temperature change,December,2020,?C,-1.792,Fc
3,Temperature change,16,Bangladesh,Temperature change,October,2020,?C,2.469,Fc
4,Temperature change,16,Bangladesh,Temperature change,November,2020,?C,1.688,Fc
5,Temperature change,16,Bangladesh,Temperature change,December,2020,?C,0.872,Fc
6,Temperature change,100,India,Temperature change,October,2020,?C,1.274,Fc
7,Temperature change,100,India,Temperature change,November,2020,?C,0.703,Fc
8,Temperature change,100,India,Temperature change,December,2020,?C,0.825,Fc
9,Temperature change,165,Pakistan,Temperature change,October,2020,?C,-0.172,Fc
10,Temperature change,165,Pakistan,Temperature change,November,2020,?C,-0.419,Fc
11,Temperature change,165,Pakistan,Temperature change,December,2020,?C,-0.264,Fc

In [30]:
df2=df.head(5)
df2

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7010,October,2020,2020,?C,-1.042,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7011,November,2020,2020,?C,-0.503,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7012,December,2020,2020,?C,-1.792,Fc,Calculated data
3,ET,Temperature change,16,Bangladesh,7271,Temperature change,7010,October,2020,2020,?C,2.469,Fc,Calculated data
4,ET,Temperature change,16,Bangladesh,7271,Temperature change,7011,November,2020,2020,?C,1.688,Fc,Calculated data

In [23]:
df.groupby(['Domain','Area','Value']).mean()

                                       Area Code (FAO)  Element Code  \
Domain             Area        Value
Temperature change Afghanistan -1.792              2.0        7271.0
                               -1.042              2.0        7271.0
                               -0.503              2.0        7271.0
                   Bangladesh   0.872             16.0        7271.0
                                1.688             16.0        7271.0
                                2.469             16.0        7271.0
                   India        0.703            100.0        7271.0
                                0.825            100.0        7271.0
                                1.274            100.0        7271.0
                   Pakistan    -0.419            165.0        7271.0
                               -0.264            165.0        7271.0
                               -0.172            165.0        7271.0

                                       Months Code  Year Code    Year
Domain             Area        Value
Temperature change Afghanistan -1.792       7012.0     2020.0  2020.0
                               -1.042       7010.0     2020.0  2020.0
                               -0.503       7011.0     2020.0  2020.0
                   Bangladesh   0.872       7012.0     2020.0  2020.0
                                1.688       7011.0     2020.0  2020.0
                                2.469       7010.0     2020.0  2020.0
                   India        0.703       7011.0     2020.0  2020.0
                                0.825       7012.0     2020.0  2020.0
                                1.274       7010.0     2020.0  2020.0
                   Pakistan    -0.419       7011.0     2020.0  2020.0
                               -0.264       7012.0     2020.0  2020.0
                               -0.172       7010.0     2020.0  2020.0